body {
    background-image: url(pics/front.png);
    background-size: 100% 100%;
}

html, body, .container{
    height: 100%;
}

.container {
    border: 1px solid green;
}

#first_row {
    margin-top: 45px;
    margin-bottom: 120px;
}

#rows {
    margin-bottom: 35px;
}


.col {
    border: 1px solid black;
    text-align: center;
}

@media screen and (max-width: 568px) {
        p {
    font-size:10px;
    }
}


p {
    font-weight: 900;
    font-size: 50px;
    font-family:Optimus;
    color: black;
    letter-spacing: 10x;
    
    
}

#logo {
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 10px;
}

@font-face {
    font-family:Optimus;
    src: url(fonts/OptimusPrincepsSemiBold.ttf);
}



