body {
    background-image: url(pics/front.png);
    background-size: 100% 100%;
}

html, body, .container{
    height: 100%;
}


.row {
    height:100%;
}

.col {
    border: 1px solid black;
    text-align: center;
}

p {
    font-weight: 900;
    font-size: 70px;
    font-family:Optimus;
    color: black;
    letter-spacing: 10x;
    
    
}

#logo {
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 10px;
}

@font-face {
    font-family:Optimus;
    src: url(fonts/OptimusPrincepsSemiBold.ttf);
}

