html, body{
    height: 100%;
    width: 100%;
    margin:0 !important;
    padding:0 !important;
    background-image: url(pics/front2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}


    
.container{
  	height: 100%;
    width:100%;
}


.col {
   
    text-align: center;
  	padding:0px;
}

p {
    font-weight: 900;
    font-size: 25px;
    font-family:Optimus;
    color: black;
    letter-spacing: 10x;
  	padding-bottom: 25px; 
}



#logo {
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 10px;
  	padding-top: 25px;
    padding-bottom: 20px;
}

@media (min-width: 576px) {
    p {font-size: 30px;}
    #logo {
        font-size: 60px;
      	padding-top: 45px;
        padding-bottom: 20px;
    }
}

@media (min-width: 799px) {
    p {font-size: 40px;}
    #logo {
        font-size: 70px;
      	padding-top: 45px;
        padding-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    p {font-size: 50px;}
    #logo {
        font-size: 80px;
      	padding-top: 45px;
        padding-bottom: 20px;
    }
}

@media (min-width: 1500px) {
    p {font-size: 60px;}
    #logo {
        font-size: 90px;
      	padding-top: 45px;
        padding-bottom: 20px;
    }
}



@font-face {
    font-family:Optimus;
    src: url(fonts/OptimusPrincepsSemiBold.ttf);
}

a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
}



